
backend/utilities/__pycache__/authentication.cpython-310.pyc
backend/utilities/__pycache__/__init__.cpython-310.pyc
backend/app/routes/__pycache__/__init__.cpython-310.pyc
backend/app/routes/__pycache__/auth.cpython-310.pyc
backend/app/__pycache__/__init__.cpython-310.pyc
.idea
.env
*.key
*.crt
*.pem
*.csr
certyfikat.crt
klucz_bez_hasla.key
secrets/
ssl/
*.log
logs/
.DS_Store
Thumbs.db
*.bak
*.backup
*.tmp
node_modules/
npm-debug.log*
build/
dist/
target/
.dockerignore
.env.local
.env.development.local
.env.test.local
.env.production.local
